@import "tailwindcss";

@theme{
  --breakpoint-sm:380px;
  --breakpoint-md:768px;
  --breakpoint-lg:1024px;
  --breakpoint-xl:1200px;
  --breakpoint-xxl:1400px;
  --breakpoint-xxxl:1600px;
  
}
/* 
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

.bg{
  background-image: url('https://s3-alpha-sig.figma.com/img/a1a2/fc5c/8cbf8810e1054178ccaf3cd1017d477d?Expires=1742169600&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=mc-aEk~dQhGUyjJ2RYQZVhc6DKrOqPLwJeZDvsYNScholNXiXyDkph7-8TGnXs16atPHe8caQ1Bsi-eFX7aXTt9lUY0kuIczPpkcylrRGdL2GiCcpAqpWE4KoN~cAvj2UWTMnObJ-flGmY2mn6Cex93xOiDU2kzDiuFAoVyEKkPkvWY5A2-AmJBZ0qmf3pFNlzLEVr0YkpaymXtg3EIsGEZ4V49Ty32SogcbS332Gl2YN3NN-O75Ko3zRhA0D7XwLT4VN8tZVQt3yKYmxY3MVRRsJek4FlCbAHkp4dIhUxefGTKjWoQrMIN98F2zcrb7R6~lxaTfdQVG1rIpElnulQ__');
  background-position: center;
  background-size: cover;

}

/* =================================================================css */

.about{
  background: #f2f2f2;
}
.about_us{
  background: #AEC6E8;
  position: relative;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
   
}
.about_title{
  width: 37%;
  padding-bottom: 50px;
}
.about_title h2{
  font-size: 45px;
  font-weight: 600;
  padding-bottom: 15px;
}
.about_us .images{
 display: flex;
 justify-content: center;
 align-items: center;
 position: absolute;
 top:  65%;
 left: 7%;

}
.about_contact{
  display: flex;
  align-items: center;
  align-content: center;
  background-color: #f2f2f2;
  height: 80vh;
  width: 100%;
  margin-top: 20%;

}
/* .about-contact-all{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  position: relative;
}
.about_contact-contant{
   
  width: 25%;
  position: absolute;
  left: 15%;
  top: 20px;
}
.about_contact-contant h3{
    
   font-size: 20px;
   font-weight: 400;
   
    
}
.about_contact-contant h4{
  font-weight: 700;
  font-size: 35px;
  padding-top: 10px;
}
.about_contact-contant p{
  color: #606060;
  padding-block: 15px;
}
.btn{
  background: #0055CD;
  border-radius: 5px;
  padding: 8px 40px;
  color: #fff;
   
} */
/* .about_contact-images{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 25%;
  position: relative;
 
}
.img_contact1{
  position: absolute ;
  top: 10%;

  right: -100%;
  
    
}
.about_vision{
  width: 70%;
  margin:   auto;
  margin-top: 90px;
   

}
.about_vision h3{
   padding-top: 60px;
  
  font-size: 20px;
}
.about_vision h4{
  font-weight: 700;
  font-size: 38px;
  padding-block: 10px;
}
.about_vision p{
  color: #606060;
}
.about_vision-content{
   display: flex;
   justify-content: space-between;
   margin-top: 70px;
   
}
.about_vision-image{
  width: 50%;
}
.about_vision-image img{
  width: 100%;
}
 
.about_vision-info{
  
  width: 50%;
   padding-left: 80px;
}
.about_vision-details{
   margin: 12px 50px;

}
.about_vision-details img{
  width: 12%;
}
@media only screen and (max-width: 992px){
  .about_us .images{
    width: 30%;
    position: absolute;
    top:  70%;
    left: 37%;
   
   }
  .about_us .images img{
    width: 60%;
   
   }
   .about_vision-info{
  
     
     padding-left: 50px;
  }
 
  .about_vision-details h3{
    padding: 0;
    margin: 0;
    font-size: 16px;
  }
  .about_vision-details p{
    font-size: 14px;
    line-height: 17px;
  }
  .about_vision-details img{
    width: 10%;
    
  }
  
}
@media only screen and (max-width: 768px){

}
@media only screen and (max-width: 576px){

} */


.bgprop{
background-image: url('https://s3-alpha-sig.figma.com/img/fc8f/3d6e/5ecb3905e48f17872ecb4c52cea312da?Expires=1742169600&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=t9IpwBJ-mqSRYJC6kH2hesoTvG8RvLGvbYyACGlQhjgS3PdUmPfcxje2XWkBDVWMq3CK-6yZ3SvZenvUvJY8lfRhiqU35DSUpqbzF1aKX2lq1FJYkLEQ9YcM~aHcnoEeZR-j25JlhfOWegG9J8Cyeru53ys5twfRyywQKAQQN6HHgdgrAPINn7psSX7~DFLk7k27q7ADu8iPDD6dDjDKYg7UfVZ709cIqEZVJOXxxM5lb72EKGhReHUU~8HFYJV5ATq~c1SG1NblX4KF7c9omGjNlFTQJqhL83GSJUNr9Yu4XuLljLpcBDmKBsMoyH0Lb5VA9XuxoJhUR~1Bb-MFDQ__');
/* background-position:top; */
background-size: cover;
background-position:top 25% ;
}

/* .profile{
  clip-path: polygon(0px 0px, calc( 100% - 2px) 0px, 100% 50px, calc( 100% - 1px) calc( 100% - 4px), calc( 100% - 171px) calc( 110% - 44px), 153px calc( 100% - 41px), 0px 100%, 0px 50px);
} */

.profile {
  /* clip-path: polygon(
    0% 0%, 
    100% 0%, 
    100% 85%,  /* Lower the bottom-right to curve */
   /* 50% 100%,  /* Center bottom curve */
   /* 0% 85% /* Lower the bottom-left to curve 
  ); */
} 