@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@theme{
  --breakpoint-sm:280px;
  --breakpoint-md:768px;
  --breakpoint-lg:1024px;
  --breakpoint-xl:1200px;
  --breakpoint-xxl:1400px;
  --breakpoint-xxxl:1600px;
  
}


body{
  font-family: "Poppins", sans-serif;
}


.bg{
  background-image: url('https://s3-alpha-sig.figma.com/img/a1a2/fc5c/8cbf8810e1054178ccaf3cd1017d477d?Expires=1742169600&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=mc-aEk~dQhGUyjJ2RYQZVhc6DKrOqPLwJeZDvsYNScholNXiXyDkph7-8TGnXs16atPHe8caQ1Bsi-eFX7aXTt9lUY0kuIczPpkcylrRGdL2GiCcpAqpWE4KoN~cAvj2UWTMnObJ-flGmY2mn6Cex93xOiDU2kzDiuFAoVyEKkPkvWY5A2-AmJBZ0qmf3pFNlzLEVr0YkpaymXtg3EIsGEZ4V49Ty32SogcbS332Gl2YN3NN-O75Ko3zRhA0D7XwLT4VN8tZVQt3yKYmxY3MVRRsJek4FlCbAHkp4dIhUxefGTKjWoQrMIN98F2zcrb7R6~lxaTfdQVG1rIpElnulQ__');
  background-position: center;
  background-size: cover;

}

/* =================================================================css */

.about{
  background: #f2f2f2;
}
.about_us{
  background: #AEC6E8;
  position: relative;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
   
}
.about_title{
  width: 37%;
  padding-bottom: 50px;
}
.about_title h2{
  font-size: 45px;
  font-weight: 600;
  padding-bottom: 15px;
}
.about_us .images{
 display: flex;
 justify-content: center;
 align-items: center;
 position: absolute;
 top:  65%;
 left: 7%;

}
.about_contact{
  display: flex;
  align-items: center;
  align-content: center;
  background-color: #f2f2f2;
  height: 80vh;
  width: 100%;
  margin-top: 20%;

}



.bgprop{
background-image: url('https://s3-alpha-sig.figma.com/img/fc8f/3d6e/5ecb3905e48f17872ecb4c52cea312da?Expires=1742169600&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=t9IpwBJ-mqSRYJC6kH2hesoTvG8RvLGvbYyACGlQhjgS3PdUmPfcxje2XWkBDVWMq3CK-6yZ3SvZenvUvJY8lfRhiqU35DSUpqbzF1aKX2lq1FJYkLEQ9YcM~aHcnoEeZR-j25JlhfOWegG9J8Cyeru53ys5twfRyywQKAQQN6HHgdgrAPINn7psSX7~DFLk7k27q7ADu8iPDD6dDjDKYg7UfVZ709cIqEZVJOXxxM5lb72EKGhReHUU~8HFYJV5ATq~c1SG1NblX4KF7c9omGjNlFTQJqhL83GSJUNr9Yu4XuLljLpcBDmKBsMoyH0Lb5VA9XuxoJhUR~1Bb-MFDQ__');
/* background-position:top; */
background-size: cover;
background-position:top 25% ;
}



.profile::before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px; 
  background: white;
  border-top-left-radius: 90% 60%;
  border-top-right-radius: 90% 60%;
}